<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta char set="UTF-8">
    <title>図書検索画面</title>

<!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link th:href="@{/css/bms.css}" rel="stylesheet">

</head>

<body>
    <h1 class="title">美ら島町図書館図書貸出システム</h1>
    <h1>図書検索</h1>
    <div>(検索条件)</div>

    <form th:method="post" th:action="@{/book/search}" th:object="${searchForm}">
      <div>
        <Label>
          図書名:<input type="text" th:field="*{bookTitle}">
          分類:<input type="text" th:field="*{classCode}">
          著者:<input type="text" th:field="*{author}">
          出版社:<input type="text" th:field="*{publisher}">
          ISBN:<input type="text" th:field="*{ISBN}">
        </Label>
        <!-- <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p> -->
      </div>
      <div>
        <input type="submit" value="検索">
      </div>
    </form>


    <div>(検索結果)</div>
    <p th:if="${books.isEmpty()}">マッチした図書がありません。</p>
    <table th:unless="${books.isEmpty()}">
      <tr>
        <th>図書名</th>
        <th>著者</th>
        <th>出版社</th>
        <th>貸出可否</th>
      </tr>
      <tr th:each="book: ${books}">
        <td>
          <a th:href="@{/book/{bookID}/view(bookID=${book.bookID})}">
              <span th:text="${book.bookTitle}"></span>
          </a>
        </td>
        <td>
              <span th:text="${book.author}"></span>
        </td>
        <td>
              <span th:text="${book.publisher}"></span>
        </td>
        <td>
              <span th:text="${book.enabled}"></span>
        </td>
      </tr>
    </table>

    <a th:href="@{/guest/myPage}">利用者マイページ</a>
    <a th:href="@{/guest/myPage}">戻る</a>
</body>
</html>