<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta char set="UTF-8">
    <title>図書検索画面</title>

<!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link th:href="@{/css/bms.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/bookfavicon.png}">

</head>

<body>
    <h1 class="title">美ら島町図書館 図書貸出システム</h1>
    <h1>図書検索</h1>
    <div class="kensakuran">
     <div class="kensakujouken-moji">検索条件</div>

     <form th:method="post" th:action="@{/book/search}" th:object="${searchForm}">
       <div class="kensakujouken-1">
         <label for="bookTitle">
           図書名<input id="bookTitle" type="text" th:field="*{bookTitle}">
         </label>
         <label for="classCodeTitle">
           分類<input id="classCodeTitle" type="text" th:field="*{classCode}">
         </label>
         <label for="authorTitle">
           著者<input id="authorTitle" type="text" th:field="*{author}">
         </label>
       </div>
       <div class="kensakujouken-2">
         <label for="publisherTitle">
           出版社<input id="publisherTitle" type="text" th:field="*{publisher}">
         </label>
         <label for="ISBNTitle">
           ISBN<input id="ISBNTitle" type="text" th:field="*{ISBN}">
         </label>
       </div>
         <!-- <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p> -->
       <div>
         <input type="submit" value="検索" class="kensaku-button">
       </div>
    </div>
    </form>

    <div class="kensakukekkaran">
     <div class="kensakukekka-moji">検索結果</div>
     <p th:if="${books.isEmpty()}">マッチした図書がありません。</p>
     <table id="kensakukekka-hyouji" th:unless="${books.isEmpty()}">
       <tr>
         <th>図書名</th>
         <th>著者</th>
         <th>出版社</th>
         <th>貸出可否</th>
       </tr>
       <tr th:each="book: ${books}">
         <td>
           <a th:href="@{/book/{bookID}/view(bookID=${book.bookID})}">
              <span th:text="${book.bookTitle}"></span>
           </a>
         </td>
         <td>
              <span th:text="${book.author}"></span>
         </td>
         <td>
              <span th:text="${book.publisher}"></span>
         </td>
         <td>
              <span th:if="${book.status.equals('貸出可')}">〇</span>
              <span th:unless="${book.status .equals('貸出可')}">×</span>
         </td>
       </tr>
     </table>
    </div>
    
    <div class="lastbutton">
     <a th:href="@{/guest/myPage}" class="riyousyamyPage-link">利用者マイページ</a>
     <a th:href="@{/guest/myPage}">戻る</a>
    </div>

    <footer>
      <div class="wrapper">
          <p><small>&copy; 2023 Growthers</small></p>
      </div>
  </footer>
</body>
</html>