<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta char set="UTF-8">
    <title>図書表示画面</title>

<!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link th:href="@{/css/bms.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/bookfavicon.png}">

</head>

<body>
    <h1 class="title">美ら島町図書館 図書貸出システム</h1>
    <h1>図書情報</h1>

    <div class="toshojouhouran">
    <table id="toshojouhou-hyouji">
        <tr>
            <td class="koumoku-head">図書名</td>
            <td>
                <span th:text="${Book.bookTitle}"></span>
            </td>
        </tr>
        <tr>
            <td class="koumoku-head">著者</td>
            <td>
                <span th:text="${Book.author}"></span>
            </td>
        </tr>
        <tr>
            <td class="koumoku-head">出版社</td>
            <td>
                <span th:text="${Book.publisher}"></span>
            </td>
        </tr>
        <tr>
            <td class="koumoku-head">出版年</td>
            <td>
                <span th:text="${Book.issue}"></span>
            </td>
        </tr>
        <tr>
            <td class="koumoku-head">版数</td>
            <td>
                <span th:text="${Book.version}"></span>
            </td>
        </tr>
        <tr>
            <td class="koumoku-head">ISBN</td>
            <td>
                <span th:text="${Book.isbn}"></span>
            </td>
        </tr>
        <tr>
            <td class="koumoku-head">分類</td>
            <td>
                <span th:text="${Book.classCode}"></span>
            </td>
        </tr>
        <tr>
            <td class="koumoku-head">図書ID</td>
            <td>
                <span th:text="${Book.bookID}"></span>
            </td>
        </tr>
    </table>
    </div>

    <form th:method="post" th:action="@{/book/entry}" th:object="${CandidateForm}">
      <input type="hidden" name="" id="" th:value="${Book.bookID}" th:field="*{bookID}">   
      <input type="submit" value="貸出候補図書に登録" class="touroku-button">
    </form>

    <div class="lastbutton">
        <div class="link-button"><form th:method="post" th:action="@{/logout}">
          <input type="submit" value="ログアウト" class="logout-button">
        </form></div>
       <div class="link-button"><a th:href="@{/guest/myPage}" class="riyousyamyPage-link">利用者マイページ</a></div>
       <div class="link-button"><a th:href="@{/guest/myPage}">戻る</a></div>
      </div>

    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 Growthers</small></p>
        </div>
    </footer>
</body>
</html>