<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta char set="UTF-8">
    <title>マイページ</title>
<!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link th:href="@{/css/bms.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/bookfavicon.png}">
</head>

<body>
    <div class="myPage-gamen">
        <h1 class="title">美ら島町図書館 図書貸出システム</h1>
        <h1 class="mypagetag">利用者マイページ</h1>

        <div class="menu">
            <a th:href="@{/guest/view}" class="profile-button">プロフィール</a></li>
            <a th:href="@{/book/find}" class="toshokensaku-button">図書検索</a></li>
            <a th:href="@{/guest/rentalList}" class="kashidashitosholist-button">貸出図書リスト</a></li>
        </div>

    </div>
        <form th:method="post" th:action="@{/logout}">
            <input type="submit" value="ログアウト" class="logout-button">
        </form>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 Growthers</small></p>
        </div>
    </footer>

</body>
</html>