<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta char set="UTF-8">
    <title>図書検索画面</title>

<!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link th:href="@{/css/bms.css}" rel="stylesheet">

</head>

<body>
    <h1 class="title">美ら島町図書館図書貸出システム</h1>
    <h1>貸出図書リスト</h1>


    <div>(貸出中図書)</div>
    <form th:method="post" th:action="@{/guest/return}" th:object="${rendingCheckbox}">
  
    <table border="1">
      <tr>
        <th></th>
        <th>図書名</th>
        <th>著者</th>
        <th>出版社</th>
      </tr>
      <tr th:each="rendingBook: ${rendingBooks}">
        <td>
            <input type="checkbox" name="rentBook" field="selectedBooks">
        </td>
        <td>
          <span th:text="${book.bookTitle}"></span>
        </td>
        <td>
          <span th:text="${book.author}"></span>
        </td>
        <td>
          <span th:text="${book.publisher}"></span>
        </td>
      </tr>
    </table>
    <input type="submit" value="返却">
  </form>


    <h2>(貸出候補図書)</h2>
    <form th:method="post" th:object="candidateCheckbox">
    <table border="1">
        <tr>
          <th></th>
          <th>図書名</th>
          <th>著者</th>
          <th>出版社</th>
          <th>状態</th>
        </tr>
        <tr th:each="rentCandidateBooks: ${rentCandidateBooks}">
          <td>
            <input type="checkbox" name="entBook" field="selectedBooks">
          </td>
          <td>
            <span th:text="${book.bookTitle}"></span>
          </td>
          <td>
            <span th:text="${book.author}"></span>
          </td>
          <td>
            <span th:text="${book.publisher}"></span>
          </td>
          <td>
            <span th:text="${book.enabled}"></span>
          </td>
        </tr>
      </table>

      <input type="submit" value="貸出" formaction="@{/guest/rent}">
      <input type="submit" value="取消" formaction="@{/guest/cancel}">
    </form>

    <a th:href="@{/guest/myPage}">利用者マイページ</a>
    <a th:href="@{/guest/myPage}">戻る</a>

</body>
</html>