<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta char set="UTF-8">
    <title>図書検索画面</title>

<!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link th:href="@{/css/bms.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/bookfavicon.png}">

</head>

<body>
    <h1 class="title">美ら島町図書館 図書貸出システム</h1>
    <h1>貸出図書リスト</h1>

    <div class="kashidashichutoshoran">
      <div class="kashidashichutoshoran-moji">貸出中図書</div>
        <form th:method="post" th:action="@{/guest/return}" th:object="${rendingCheckbox}">
  
        <table id="kashidashichutosho-hyouji" border="1">
         <tr>
           <th></th>
           <th>図書名</th>
           <th>著者</th>
           <th>出版社</th>
         </tr>
         <tr th:each="rendingBook: ${rendingBooks}" th:classappend="${rendingBook.checkbook} ? 'delayed' : ''">
           <td>
             <input type="checkbox" name="rentBook" th:field="*{selectedBooks}" th:value="${rendingBook.bookID}" class="checkbox">
           </td>
           <td>
             <span th:text="${rendingBook.bookTitle}"></span>
           </td>
           <td>
             <span th:text="${rendingBook.author}"></span>
           </td>
           <td>
             <span th:text="${rendingBook.publisher}"></span>
           </td>
         </tr>
        </table>

        <div class="henkyaku-button-block">
          <input type="submit" value="返却" class="henkyaku-button">
        </div>
        </form>
    </div>

    <div class="kashidashikouhotoshoran">
    <div class="kashidashikouhotoshoran-moji">貸出候補図書</div>
    <form th:object="${candidateCheckbox}">
    <table id="kashidashikouhotosho-hyouji"border="1">
        <tr>
          <th></th>
          <th>図書名</th>
          <th>著者</th>
          <th>出版社</th>
          <th>状態</th>
        </tr>
        <tr th:each="rentCandidateBooks: ${rentCandidateBooks}">
          <td>
            <input type="checkbox" name="entBook" th:field="*{selectedBooks}" th:value="${rentCandidateBooks.bookID}" class="checkbox">
          </td>
          <td>
            <span th:text="${rentCandidateBooks.bookTitle}"></span>
          </td>
          <td>
            <span th:text="${rentCandidateBooks.author}"></span>
          </td>
          <td>
            <span th:text="${rentCandidateBooks.publisher}"></span>
          </td>
          <td>
            <span th:text="${rentCandidateBooks.status}"></span>
          </td>
         </tr>
        </table>
        <p class="alart">貸出は5冊までです。</p>
        <div class="kashidashitorikeshi-button-block">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
           <input type="submit" value="貸出" class="kashidashi-button" th:formaction="@{/guest/rent}" formmethod="post">
           <input type="submit" value="取消" class="torikeshi-button" th:formaction="@{/guest/cancel}" formmethod="post">
        </div>

      </form>
    </div>

    <div class="lastbutton">
       <a th:href="@{/guest/myPage}" class="riyousyamyPage-link">利用者マイページ</a>
       <a th:href="@{/guest/myPage}">戻る</a>
    </div>

    <footer>
      <div class="wrapper">
          <p><small>&copy; 2023 Growthers</small></p>
      </div>
   </footer>
</body>
</html>