html,
body{
	text-align: center;
	background-image: url(/images/main-a.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

/* フッター
footer {
	background: #432;
	text-align: center;
	padding: 26px 0;
	margin-top: auto;
}
footer p {
	color: #fff;
	font-size: 0.875rem;
}
----------------- */

/* フッター

footer {
	background: #432;
	text-align: center;
	padding: 26px 0;

	position: absolute;
	bottom: 0;
}
footer p {
	color: #fff;
	font-size: 0.875rem;
}
----------------- */




/* ここから利用者マイページ画面のcss↓
   ----------------------------------- */

.title {
	padding-top: 30px;
	font-family: "serif";
}
.mypagetag{
	margin-top: 10px;
	font-family: fantasy;
}
.menu {
	margin-top: 90px;
	margin-bottom: 300px;
}

   /* マイページ画面のボタン */
.profile-button {
	width: 150px;
	display: inline-block;
	padding: 0.5em 1em;
    text-decoration: none;
    color: #3b82c4;
    border: solid 3px #3b82c4;
    border-radius: 3px;
    transition: .4s;
	font-weight: bold;
}
.profile-button:hover {
	background: #fffac2;
}

.toshokensaku-button {
	width: 130px;
	display: inline-block;
	padding: 0.5em 1em;
    text-decoration: none;
    color: #3b82c4;
    border: solid 3px #3b82c4;
    border-radius: 3px;
    transition: .4s;
	font-weight: bold;

	margin-left: 30px;
	margin-right: 30px;
}
.toshokensaku-button:hover {
	background: #e1eec1;
}

.kashidashitosholist-button {
	display: inline-block;
	padding: 0.5em 1em;
    text-decoration: none;
    color: #3b82c4;
    border: solid 3px #3b82c4;
    border-radius: 3px;
    transition: .4s;
	font-weight: bold;
}
.kashidashitosholist-button:hover {
	background: #f7d5da;
}


/* ここから図書検索画面のCSS↓
------------------------------ */
label {
	font-size: 1,125rem;
	margin-bottom: 10px;
	display: block;
}
#bookTitle,
#classCodeTitle,
#authorTitle,
#publisherTitle,
#ISBNTitle{
	background: rgba(255,255,255,.5);
	border: 1px #000000 solid;
	border-radius: 5px;
	padding: 10px;
	font-size: 1rem;
}
#bookTitle,
#classCodeTitle,
#authorTitle,
#publisherTitle,
#ISBNTitle{
	width: 100%;
	max-width: 240px;
}

.kensakuran{
	margin-top: 50px;
}
.kensaku-button {
	margin-top: 10px;

	display: inline-block;
    border-radius: 5%;       
    font-size: 14pt;    
    text-align: center;      
    cursor: pointer;     
    padding: 12px 16px;  
    background: #000066;   
    color: #ffffff;     
    line-height: 1em;      
    transition: .3s;       
   /* box-shadow: 6px 6px 3px #666666; */
    border: 2px solid #000066;  
}
.kensaku-button:hover {
	/* box-shadow: none; */
    color: #000066;    
    background: #ffffff;     
}

.kensakujouken-1{
	display: flex;
	justify-content: center;
}
.kensakujouken-2{
	display: flex;
	justify-content: center;
}
.kensakujouken-moji{
	margin-bottom: 20px;
	background: #58a7d2;
	padding: 0.35em;
	border-radius: 2px;
	color: white;
}

.kensakukekkaran{
	margin-top: 50px;
}
.kensakukekka-moji{
	margin-bottom: 20px;
	background: #58a7d2;
	padding: 0.35em;
	border-radius: 2px;
	color: white;
}
#kensakukekka-hyouji{
	margin: auto;
	width: 900px;
}
#kensakukekka-hyouji {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: solid 1px #778ca3;
}
#kensakukekka-hyouji tr:nth-child(1) {
	background: #e9faf9;
}
#kensakukekka-hyouji th,
#kensakukekka-hyouji td {
	padding: 10px;
	border-bottom: solid 1px #778ca3;
}
.lastbutton{
	margin-top: 60px;
}
.riyousyamyPage-link {
	margin-right: 10px;
}


/* ここから貸出図書リスト画面のCSS↓
 　　-----------------------------*/

.kashidashichutoshoran {
	margin-top: 50px;
}
.kashidashichutoshoran-moji {
	margin-bottom: 20px;
	background: #58a7d2;
	padding: 0.35em;
	border-radius: 2px;
	color: white;
}
#kashidashichutosho-hyouji {
	margin: auto;
	width: 900px;
}
#kashidashichutosho-hyouji {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: solid 1px #778ca3;
}
#kashidashichutosho-hyouji tr:nth-child(1) {
	background: #e9faf9;
}
#kashidashichutosho-hyouji th,
#kashidashichutosho-hyouji td {
	padding: 10px;
	border-bottom: solid 1px #778ca3;
}

.kashidashikouhotoshoran {
	margin-top: 50px;
}
.kashidashikouhotoshoran-moji {
	margin-bottom: 20px;
	background: #58a7d2;
	padding: 0.35em;
	border-radius: 2px;
	color: white;
}
#kashidashikouhotosho-hyouji {
	margin: auto;
	width: 900px;
}
#kashidashikouhotosho-hyouji {
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: solid 1px #778ca3;
}
#kashidashikouhotosho-hyouji tr:nth-child(1) {
	background: #e9faf9;
}
#kashidashikouhotosho-hyouji th,
#kashidashikouhotosho-hyouji td {
	padding: 10px;
	border-bottom: solid 1px #778ca3;
}

.henkyaku-button-block {
	margin-top: 30px;
	margin-left: 790px;
}
.henkyaku-button {
	display: inline-block;
    border-radius: 5%;       
    font-size: 14pt;    
    text-align: center;      
    cursor: pointer;     
    padding: 12px 16px;  
    background: #000066;   
    color: #ffffff;     
    line-height: 1em;      
    transition: .3s;       
   /* box-shadow: 6px 6px 3px #666666; */
    border: 2px solid #000066; 
}
.henkyaku-button:hover {
	/* box-shadow: none; */
    color: #000066;    
    background: #ffffff;
}


.kashidashitorikeshi-button-block {
	margin-top: 30px;
	margin-left: 700px;
}
.kashidashi-button {
	display: inline-block;
    border-radius: 5%;       
    font-size: 14pt;    
    text-align: center;      
    cursor: pointer;     
    padding: 12px 16px;  
    background: #000066;   
    color: #ffffff;     
    line-height: 1em;      
    transition: .3s;       
   /* box-shadow: 6px 6px 3px #666666; */
    border: 2px solid #000066; 
}
.kashidashi-button:hover {
	/* box-shadow: none; */
    color: #000066;    
    background: #ffffff;
}
.torikeshi-button {
	display: inline-block;
    border-radius: 5%;       
    font-size: 14pt;    
    text-align: center;      
    cursor: pointer;     
    padding: 12px 16px;  
    background: #000066;   
    color: #ffffff;     
    line-height: 1em;      
    transition: .3s;       
   /* box-shadow: 6px 6px 3px #666666; */
    border: 2px solid #000066; 
}
.torikeshi-button:hover {
	/* box-shadow: none; */
    color: #000066;    
    background: #ffffff;
}

.checkbox {
	transform: scale(2);
}

.alart{
	color: red;
	margin-top: 30px;
}


/* ここから図書表示画面のCSS↓  */
.toshojouhouran {
	margin-top: 50px;
}

#toshojouhou-hyouji {
	margin: auto;
	margin-bottom: 30px;
	width: 600px;
}
#toshojouhou-hyouji td {
	padding: 8px;
}

/*
#toshojouhou-hyouji tr {
	color: black;
	border-left: solid 8px orange;
	background: whitesmoke;
	margin-bottom: 5px;
	line-height: 1.5;
	border-radius: 0 15px 15px 0;
	padding: 0.5em;
	list-style-type: none!important;
}
*/

.touroku-button {
	margin: auto;

	display: inline-block;
    border-radius: 5%;       
    font-size: 14pt;    
    text-align: center;      
    cursor: pointer;     
    padding: 12px 16px;  
    background: #000066;   
    color: #ffffff;     
    line-height: 1em;      
    transition: .3s;       
   /* box-shadow: 6px 6px 3px #666666; */
    border: 2px solid #000066; 
}
.touroku-button:hover {
	/* box-shadow: none; */
    color: #000066;    
    background: #ffffff;
}
#toshojouhou-hyouji {
    border-collapse: collapse;
	border-spacing: 0;
	border-top: solid 1px #778ca3;
}
#toshojouhou-hyouji tr {
	padding: 10px;
	border-bottom: solid 1px #778ca3;
}

.koumoku-head {
	background: #f9e0b7;
}


/* ここからエラー画面のCSS↓  */
.error-message{
	margin-top: 50px;
	margin-bottom: 389px;
	color: red;
	font-size: 20px;
}

.delayed {
	color: red;
}