<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta char set="UTF-8">
    <title>エラーページ</title>
<!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link th:href="@{/css/bms.css}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/bookfavicon.png}">
</head>

<body>
    <div class="myPage-gamen">
        <h1 class="title">美ら島町図書館 図書貸出システム</h1>
        <p class="error-message">
            ページが見つかりません。
        </p>  
    </div>
    <div class="lastbutton">
        <a th:href="@{/guest/myPage}" class="riyousyamyPage-link">利用者マイページ</a>
        <a th:href="@{/guest/myPage}">戻る</a>
    </div>
    <footer>
        <div class="wrapper">
            <p><small>&copy; 2023 Growthers</small></p>
        </div>
    </footer>

</body>
</html>