<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta char set="UTF-8">
    <title>マイページ</title>
<!-- css -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="css/bms.css" rel="stylesheet">
</head>

<body>
    <h1 class="title">美ら島町図書館図書貸出システム</h1>
    <h1>利用者マイページ</h1>
    <div>
     <a th:href="@{/guest/view}">プロフィール</a>
     <a th:href="@{/book/find}">図書検索</a>
     <a th:href="@{/book/rentalList}">貸出図書リスト</a>
    </div>
</body>
</html>